@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
    background-color: #000000;
    width: 100%;
}
/* header  */
.header-contenedor {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 95%;
}
.header-imagenes {
    margin: 0;
}
/* end header  */

/* inicio  */
.inicio-title-small {
    color: #FFC627;
    font-family: 'Bebas Neue', cursive;
    font-size: 16px;
    margin: 28px auto 18px;
    text-align: center;
}
.inicio-contenedor-title {
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    max-width: 518px;
    margin: 0 auto;
}
.inicio-text {
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 27px;
    line-height: 25px;
    text-align: center;
    max-width: 518px;
    margin: 56px auto;
}
.form {
    max-width: 340px;
    margin: 0 auto;  
    width: 90%;
}
.form-container {

}
.container-text {
    position: relative;
}
.form-text {
    color: #FFC627;
    font-family: Helvetica, sans-serif;
    font-size: 17px;
    margin: 0 auto 10px;
    width: 100%;
}
.form-campo-text {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    border: none;
    height: 40px;
    margin: 30px auto;
    width: 100%;
}
.container-date {
    text-align: center;
}
.form-select {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    border: none;
    height: 40px;
    margin: 30px auto;
    width: 120px;
    margin-right: 14px;
}
.form-select.form-select-full {
    width: 100%;
}
.date-day-year {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    border: none;
    height: 40px;
    margin: 30px auto;
    width: 80px;
    margin-right: 14px;
}
/* styles checkbox */
.form-checkbox {
    position: relative;
    margin-bottom: 16px;
}
.form-checkbox-input {
    position: absolute;
    opacity: 0;
}
.form-checkbox-label {
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    position: relative;
    padding-left: 32px;
    display: block;
    line-height: 1.4;
}
.form-checkbox-label::before,
.form-checkbox-label::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.form-checkbox-label::before {
    border: 1px solid #ffffff;
    border-radius: 4px;
    height: 16px;
    width: 17px;
    left: 0;
}
.form-checkbox-input:checked ~ .form-checkbox-label::before {
    border-color: #FFC627 ;
}

.form-checkbox-label::after {
    opacity: 0;
    height: 8px;
    width: 11px;
    left: 4px;
    background-image: url("../imagenes/check.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.form-checkbox-input:checked ~ .form-checkbox-label::after {
    opacity: 1;
}
.button-trivia {
    border-radius: 10px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    background-color: #FFC627;
    min-width: 300px;
    padding: 10px 16px;
}

.footer-container-logo-corona {
    display: flex;
    justify-content: center;
    margin: 26px auto 20px;
}
.footer-container-social-media {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    
}
.icono-social-media {
    padding: 0 26px;
}
.footer-container {
    display: flex;
    justify-content: space-evenly;
    color: #ffffff;
}
.footer-container-text {
    list-style: none;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    line-height: 2.0;
    padding-left: 0;
}
.copyright {
    color: #C3C3C3;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
}
.copyright-text {
    margin: 4px auto;
}
